a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #E46E49;
}

a:hover {
  text-decoration: underline;
}

.bl {
  color: #E46E49;
}

.b {
  color: #505050;
}

.g {
  color: #E7E7E7;
}

.gF {
  background-color: #764E42;
}

.w {
  color: #FFFFFF;
}

body {
  background-color: #764E42;
}

.r {
  text-align: right;
}

.l {
  text-align: left;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 30;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  -webkit-user-select: none;
  background-color: #252525;
}

#wrapper {
  display: table;
  table-layout: fixed;
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 1280;
  height: 95%;
  opacity: 0;
}

#wrapper.mobile {
  width: 100%;
  height: auto;
  overflow: auto;
}

#footer, #header {
  display: table;
  table-layout: fixed;
  overflow: hidden;
  white-space: nowrap;
  top: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 1280;
  height: 5%;
  background-image: url("cssimages/pic3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
}

#header {
  padding: 5;
}

#footercell, #headercell {
  display: table-cell;
  vertical-align: middle;
}

#headercell {
  text-align: center;
}

#footercell span, #headercell span {
  color: #E7E7E7;
  font-weight: 300;
  font-size: 15;
  margin-left: 15;
}

#footerimg {
  margin: 0 auto;
  float: right;
}

.point {
  width: 12;
  height: 12;
  margin-right: 8;
  top: -2;
  position: relative;
}

.cp {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cp::-webkit-scrollbar {
  display: none;
}

.cp.mobile {
  height: 0;
}

.d {
  display: table-cell;
  vertical-align: bottom;
  top: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#div1 {
  left: 0;
  width: 239;
  z-index: 10;
  background-color: #FFFFFF;
}

#div2 {
  width: 239;
  z-index: 20;
  background-color: #473535;
}

#div3 {
  width: 399;
  z-index: 20;
  background-color: FFFFFF;
}

#div3.mobile {
  border: none;
}

#div22 {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0;
  z-index: 21;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.d.mobile {
  display: block;
  position: static;
  height: 0;
  width: 100%;
  border: none;
}

/* .el {
  position: absolute;
  z-index: 32;
} */
#devartimg {
  margin: 20px 0;
}

#devartimg1 {
  position: absolute;
  bottom: 170;
  margin: 0 auto;
}

.contDiv {
  display: block;
  margin-bottom: 10px;
}

.icoImg {
  display: inline-block;
  opacity: 0.5;
  width: 24px;
  vertical-align: middle;
  margin-right: 5px;
}

.contText {
  display: inline-block;
  vertical-align: middle;
}

.dac {
  position: absolute;
  padding: 0;
  bottom: 10;
  opacity: 0.5;
}

#DEV {
  right: 0;
}

#ART {
  left: 0;
}

#DA24 {
  left: 0;
}

.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 240;
  z-index: 12;
}

#win2fill {
  position: absolute;
  background: 5C1D18;
  top: 0;
  left: 400;
  width: 400;
  height: 400;
  z-index: 12;
}

.winc {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 320;
  z-index: 12;
}

.winp {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  width: 240;
  z-index: 10;
}

.list {
  position: absolute;
  top: 105;
  left: 285;
  z-index: 13;
  opacity: 1;
}

.think {
  position: absolute;
  left: 0;
  top: 285;
  width: 100%;
  text-align: center;
  z-index: 13;
  font-weight: 700;
  font-size: 30;
  line-height: 1.2;
}

.desc {
  position: absolute;
  display: block;
  left: 0;
  padding-left: 60;
  top: 400;
  width: 670;
  height: auto;
  z-index: 13;
  font-style: normal;
  font-size: 20;
  white-space: normal;
  opacity: 1;
}

.quote {
  position: relative;
  box-sizing: border-box;
  display: table;
  min-width: 100%;
  padding: 30px;
  background: none;
  text-align: center;
}

.qu {
  left: 0;
  top: 0;
  width: 10px;
  height: 100%;
  border: 1px solid black;
  border-right: none;
  position: absolute;
}

.qu.qw {
  border: 1px solid white;
  border-right: none;
}

.qu:last-child {
  left: inherit;
  right: 0;
  border: 1px solid black;
  border-left: none;
}

.qu:last-child.qw {
  border: 1px solid white;
  border-left: none;
}

.hl {
  display: inline-block;
  color: #d0d0d0;
  margin: 0 15px;
}

#pic1Cont, #pic2Cont {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: none;
  opacity: 0;
}

#pic1Cont {
  left: 0;
}

#pic2Cont {
  right: 0;
}

#pickCont {
  left: 0;
  width: 100%;
  height: 100%;
}

#pic1, #pic2 {
  position: absolute;
  top: 0;
  width: 200;
  height: 600;
}

#pick {
  position: absolute;
  bottom: 0;
  left: 0;
}

#pic1 {
  left: 0;
}

#pic2 {
  right: 0;
}

#pic3 {
  width: 1280;
  height: 44;
  opacity: 0.1;
}

#desc2 {
  text-shadow: 0px 1px 2px #000000;
}

.arzCont {
  display: block;
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.arzImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.arzImg img {
  top:0;
  left:0;
  width: 100%;
}

#arzLogo {
  width: 160px;
  display: inline-block;
}

#arzLogo img {
  width: 100%;
}

.refCont {
  display: inline-block;
  position: relative;
  width: 45%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  margin: 0 2% 2% 0;
  background: black;
  overflow: hidden;
}

.refImg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.refImg img {
  top:0;
  left:0;
  width: 100%;
}

.refText {
  left: 50%;
  position: absolute;
  top: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  padding: 5px 10px;
  background: black;
  font-size: 0.6em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
